*{box-sizing: border-box}
body {
    background-color: #dedede;
    padding-left: 2em; 
    padding-right: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

a{
    font-weight: normal;
}

#nobold{
    font-weight: normal;
}

@font-face {
    font-family: 'blippo-black';
    src: url('tt0511m_.ttf') format('truetype');
}

.topnav {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    overflow: hidden;
    padding: 5px;
}

.topnav a {
    float: left;
    display: block;
    color: yellow;
    background-image: linear-gradient(rgb(0, 187, 201), rgb(0, 79, 85));
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid white;
    border-radius: 5px;
}

.topnav .search-container {
    float: left;
}

.topnav input[type=text] {
    padding: 6px;
    margin-left: 10px;
    margin-top: 6px;
    margin-right: 5px;
    font-size: 17px;
    border: 1px solid;
}

.topnav .search-container button {
    float: right;
    display: block;
    color: yellow;
    background-image: linear-gradient(rgb(0, 187, 201), rgb(0, 79, 85));
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid white;
    border-radius: 5px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 30%;
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

.menu a1 {
    padding: 0.5em 2em 0.5em 2em;
    margin-bottom: 2em;
    display: block;
    width: 100%;
    color: black;
    text-align: left;
}

#myul {
    list-style-type: none;
    margin-left: -25px;
    padding: 0;
}

#mainheader {
    font-family: 'blippo-black', sans-serif;
    font-size: 50px;
    margin-bottom: -15px;
    margin-left: 10px;
    margin-top: 15px;
}

#mainmotto {
    margin-left: 25px;
}

.menu ul {
    margin-left: -10px;
    padding: 0;
    margin-bottom: -25px;
}

.menu li {
    margin-bottom: 5px;
}

.menu h3 {
    text-align: center;
    display: block;
    color: yellow;
    background-image: linear-gradient(rgb(0, 187, 201), rgb(0, 79, 85));
    text-align: center;
    margin-top: 5px;
    margin-left: -25px;
    margin-right: -20px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid white;
    border-radius: 5px;
}

.menu img {
    width: 10em;
    display: block;
    margin: auto;
    margin-bottom: -70px;
    margin-top: -30px;
}

.main {
    float: left;
    width: 70%;
    padding: 0 20px;
}

#biodataimg {
    width: 10em;
    height: 15em;
}

.main img {
    width: 15em;
}

.main h2{
    margin-bottom: 0px;
}
.main p{
    margin-top: -15px;
}

#identitas {
    margin-top : 30px;
}

#discountheader{
    text-align: center;
    display: block;
    color: yellow;
    background-image: linear-gradient(rgb(0, 187, 201), rgb(0, 79, 85));
    text-align: center;
    margin-left: 0;
    margin-top: 5px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 3px solid white;
    border-radius: 5px;
    font-weight: normal;
}

.wrapper{
    width: 22em;
    margin: auto;	
	padding: 8px;
	color: black;
	background-color: gray;
}

.copyright{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    overflow: hidden;
}

.column {
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
}

.wrapper label>span{
    display: inline-block;
    min-width: 100px;
}

.wrapper input[type="button"] {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

@media screen and (max-width: 850px) {
    .topnav .search-container {
        float: none;
        margin-bottom: 10px;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: center;
        width: 95%;
        margin: 0;
        padding: 14px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .topnav input[type=text] {
        border: 1px solid;  
    }

    .main {
        width: 100%;
    }

    .main img {
        width: 100%;
        margin-left: 0;
    }

    .menu {
        width: 100%;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
    }

    .wrapper, .navbar {
        width: 100%;
    }

    .col-25, .col-75{
        width: 100%;
        margin-top: 0;
    }
}